https://github.com/codebasics/data-structures-algorithms-python/blob/master/data_structures/2_Arrays/2_arrays_exercise.md

Let us say your expense for every month are listed below,

January - 2200; February - 2350; March - 2600; April - 2130; May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [1]:
expense_list = [2200, 2350, 2600, 2130, 2190]

In [2]:
print("In Feb , extra to Jan ", expense_list[1]-expense_list[0])

In Feb , extra to Jan  150

In [3]:
print(" Total in 1st quarter ", expense_list[0]+expense_list[1]+expense_list[2])

 Total in 1st quarter  7150

In [4]:
print(" 2000$ in any month ", 2000 in expense_list)

 2000$ in any month  False

In [6]:
expense_list.append(1980)
print(" new list ", expense_list )

 new list  [2200, 2350, 2600, 2130, 2190, 1980]

In [8]:
expense_list[3] = expense_list[3] - 200
print( " new list ", expense_list)

 new list  [2200, 2350, 2600, 1930, 2190, 1980]

__________________________________________

In [21]:
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [22]:
print(" length ", len(heros))

 length  5

In [23]:
heros.append("black panther")

In [24]:
print(" new list ", heros)

 new list  ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [25]:
heros.remove("black panther")
heros.insert(3, "black panther" )
print(" new list ", heros)

 new list  ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [26]:
heros[1:3] = ["Doctor Strange"]
print(" new list ", heros)

 new list  ['spider man', 'Doctor Strange', 'black panther', 'iron man', 'captain america']

In [27]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
heros.sort()
print(" new list ", heros)

 new list  ['Doctor Strange', 'black panther', 'captain america', 'iron man', 'spider man']

In [34]:
4%2

0

In [37]:
def oddnos(maxn):
    res = []
    for i in range(1, maxn):
        if (i%2 == 1):
            res.append(i)
    
    return res

In [39]:
oddnos(19)

[1, 3, 5, 7, 9, 11, 13, 15, 17]